HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.mvn
mvnw.*
*.cmd
*.md
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/mvnw

# Spring Boot Configuration
application.properties
routes.properties
/src/main/resources/dev/application.properties
/src/main/resources/prod/application.properties
/src/main/resources/dev/routes.properties
/src/main/resources/prod/routes.properties

routes-prod.txt
routes.txt
routesEncrypt-prod.txt
routesEncrypt.txt

apiSendEmail/src/main/java/api/apisendemail/service/OAuth2AccessTokenService.java