<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Confirmation Code</title>
    <meta name="viewport" content="width=device-width"/>
    <style type="text/css">
        @media only screen and (max-width: 550px), screen and (max-device-width: 550px) {
            body[yahoo] .buttonwrapper {
                background-color: transparent !important;
            }

            body[yahoo] .button {
                padding: 0 !important;
            }

            body[yahoo] .button a {
                background-color: #345332;
                padding: 15px 25px !important;
            }
        }

        @media only screen and (min-device-width: 601px) {
            .content {
                width: 800px !important;
            }

            .col387 {
                width: 387px !important;
            }
        }
    </style>
</head>
<body style="margin: 0; padding: 0;" yahoo="fix">

<table align="center" border="0" cellpadding="0" cellspacing="0"
       style="border-collapse: collapse; width: 100%; max-width: 800px;" class="content">
    <tr>
        <td align="center" colspan="3">
            <img src="cid:logo_intelipay.png" width="200" height="80" style="display:block;" /><br>
        </td>
    </tr>

    <tr>
        <td  bgcolor="#ffffff" style="padding: 10px 20px 25px 20px; color: #555555; font-family: Arial, sans-serif;
                font-size: 14px; line-height: 30px;" colspan="5">
            <strong></strong><br>

            <p>Estimado(a) <span> <strong>$fullName</strong> </span>, nos complace su interés en nuestros servicios, le confirmamos que hemos recibido satisfactoriamente sus datos y su solicitud ha sido asignada a la <strong><u>Unidad respectiva.</u></strong></p>

            <p>Es importante que tenga a la mano en <strong><u>formato pdf, jpg o png</u></strong> y en <strong>tamaño máximo por archivo de 5 MB </strong> los siguientes recaudos y por favor, nos los haga llegar por esta misma vía (correo electrónico):</p>

            <p><strong><u>Recaudos en caso que sea Persona Natural:</u></strong></p>
            <p>
                - Registro de Información Fiscal (RIF) vigente.<br>
                - Copia de la Cédula de identidad.<br>
                - Copia del carnet actualizado según el gremio al que pertenezca.<br>
                - Copia del título universitario.<br>
                - Certificación de Ingresos elaborados por un Contador Público.<br>
            </p>

            <p><strong><u>Recaudos en caso que sea Persona Jurídica o Firma Personal:</u></strong></p>
            <p><strong><u>PERSONA JURÍDICA</u></strong></p>
            <p>
                - Registro de Información Fiscal (RIF) de la sociedad mercantil vigente.<br>
                - Documento Constitutivo de la sociedad mercantil.<br>
                - Cédula de identidad del / los representantes (s) legal (es) la sociedad mercantil.<br>
                - Registro de información fiscal (RIF) del / los representantes (s) legal (es) de la sociedad mercantil vigente(s). <br>
                - Actas de Asamblea de Accionistas de carácter relevante que hayan celebrado (Cambio de domicilio, cambio de denominación social, cambio de composición accionaria, entre otros).<br>
                - Acta de Asamblea de Accionistas donde se nombre la Junta Directiva Vigente.<br>
                - Documento de designación del / los representantes (s) legal (es) de la sociedad mercantil.<br>
                - Documento que faculta a los representantes (s) legal (es) de la sociedad mercantil.<br>
                - Declaraciones de Impuestos de la Renta, Últimos tres (3) años y los soportes que evidencian su pago.<br>
                - Última facturación de un servicio público la cual refleje la dirección del local, oficina o comercio.<br>
            </p>
            <p><strong><u>FIRMAS PERSONALES</u></strong></p>
            <p>
                - Registro de Información Fiscal (RIF) persona natural vigente.<br>
                - Copia de Cédula de identidad.<br>
                - Documento Constitutivo de la Firma Personal.<br>
                - Copia del carnet actualizado según el gremio que pertenezca (Médicos – Contador Público).<br>
                - Copia de título Universitario.<br>
                - Declaraciones de Impuestos de la Renta, Últimos tres (3) años y los soportes que evidencian su pago.<br>
                - Última facturación de un servicio público la cual refleje la dirección del local, oficina o comercio.
            </p>
                    <p style="text-align: justify">Dependiendo de su actividad económica y la Institución bancaria en la cual se gestionará el código de afiliación del terminal virtual (botón de pagos), <strong><u>  podemos solicitar recaudos adicionales</u></strong> en lo adelante por ésta misma vía.</p>

                    <p style="text-align: justify" >Le informamos que los recaudos recibidos serán revisados y verificados por las áreas respectivas y le responderemos por esta vía tan pronto sea posible.</p>

                    <p style="text-align: justify">Agradecemos la confianza y estamos a su disposición para aclarar cualquier inquietud en relación con este proceso de Solicitud del Servicio a través del correo electrónico: <a href="$emailSupport">$emailSupport</a>.</p>
</body>

<br><br>

    </td>
    </tr>

<!--    <tr>-->
<!--        <td align="center" bgcolor="#dddddd"-->
<!--            style="color: #555555; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px;" colspan="5">-->
<!--            <p><b><strong>Atentamente,-->
<!--                el equipo de $platform.</strong></b> <br>-->
<!--            </p>-->
<!--        </td>-->
<!--    </tr>-->
    </table>

    </body>
</html>